lorenzattractor/simulatorflow.json
[{"id":"a75334b.cb46648","type":"inject","z":"7d185ddc.262394","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.01","crontab":"","once":false,"x":172,"y":115,"wires":[["a8f0d031.c10d8"]]},{"id":"a8f0d031.c10d8","type":"function","z":"7d185ddc.262394","name":"","func":"var h = context.global.get('h')||0.008;\nvar a = context.global.get('a')||10;\nvar b = context.global.get('b')||28;\nvar c = context.global.get('c')||8/3;\nvar x = context.global.get('x')||2;\nvar y = context.global.get('y')||3;\nvar z = context.global.get('z')||4;\n\n\nx+=h*a*(y-x)\ny+=h*(x*(b-z)-y)\nz+=h*(x*y-c*z)\n\n\ncontext.global.set(\"x\",x);\ncontext.global.set(\"y\",y);\ncontext.global.set(\"z\",z);\nmsg.payload={};\nmsg.payload.x=x;\nmsg.payload.y=y;\nmsg.payload.z=z;\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":121.5,"wires":[["4a17c014.8d808","172d2f74.6dc0f1","5b79e060.8a9b68","81bb001a.892788","dd9d1a04.73cba"]]},{"id":"4a17c014.8d808","type":"debug","z":"7d185ddc.262394","name":"","active":false,"console":"false","complete":"false","x":538,"y":110.25,"wires":[]},{"id":"795c3368.420aa4","type":"ui_chart","z":"7d185ddc.262394","name":"","group":"aee8a54b.f9fe98","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":500,"y":255.5,"wires":[[],[]]},{"id":"172d2f74.6dc0f1","type":"function","z":"7d185ddc.262394","name":"","func":"msg.payload=msg.payload.x;\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":249.5,"wires":[["795c3368.420aa4"]]},{"id":"5b79e060.8a9b68","type":"function","z":"7d185ddc.262394","name":"","func":"msg.payload=msg.payload.y;\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":350.5,"wires":[["f6edfe32.650bc"]]},{"id":"81bb001a.892788","type":"function","z":"7d185ddc.262394","name":"","func":"msg.payload=msg.payload.z;\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":473.5,"wires":[["7f27d309.510f4c"]]},{"id":"f6edfe32.650bc","type":"ui_chart","z":"7d185ddc.262394","name":"","group":"aee8a54b.f9fe98","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":511.5,"y":337.75,"wires":[[],[]]},{"id":"7f27d309.510f4c","type":"ui_chart","z":"7d185ddc.262394","name":"","group":"aee8a54b.f9fe98","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":485.5,"y":469.75,"wires":[[],[]]},{"id":"6f7be61f.1d59b","type":"ibmiot out","z":"7d185ddc.262394","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"osc","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"registered","x":743,"y":230.25,"wires":[]},{"id":"8ab03dfa.293788","type":"ibmiot in","z":"7d185ddc.262394","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":720,"y":326,"wires":[["9531d29.99a72b"]]},{"id":"9531d29.99a72b","type":"debug","z":"7d185ddc.262394","name":"","active":false,"console":"false","complete":"false","x":853,"y":364.25,"wires":[]},{"id":"95fa3446.dcb608","type":"inject","z":"7d185ddc.262394","name":"healthy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":189,"wires":[["a6399bf6.00812"]]},{"id":"208cf06a.e17498","type":"inject","z":"7d185ddc.262394","name":"broken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":246,"wires":[["4061029d.cb004c"]]},{"id":"a6399bf6.00812","type":"function","z":"7d185ddc.262394","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',10);\ncontext.global.set('b',28);\ncontext.global.set('c',8/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":245,"y":186.5,"wires":[["40892218.61ac0c"]]},{"id":"4061029d.cb004c","type":"function","z":"7d185ddc.262394","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',30);\ncontext.global.set('b',128);\ncontext.global.set('c',28/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":204,"y":300.5,"wires":[["40892218.61ac0c"]]},{"id":"dd9d1a04.73cba","type":"function","z":"7d185ddc.262394","name":"limit to max 3000 ","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count <= 3000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":603,"y":181,"wires":[["6f7be61f.1d59b"]]},{"id":"db8f2b75.99478","type":"function","z":"7d185ddc.262394","name":"","func":"context.global.set('count',0);\nmsg.payload=context.global.get('count');\nreturn msg;","outputs":1,"noerr":0,"x":201,"y":577,"wires":[["40892218.61ac0c"]]},{"id":"a95f9def.5e2f68","type":"inject","z":"7d185ddc.262394","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":462.5,"wires":[["db8f2b75.99478"]]},{"id":"40892218.61ac0c","type":"debug","z":"7d185ddc.262394","name":"","active":true,"console":"false","complete":"false","x":350.5,"y":568.5,"wires":[]},{"id":"aee8a54b.f9fe98","type":"ui_group","z":"","name":"Default","tab":"4b50684e.1a25e8","disp":true,"width":"6"},{"id":"4b50684e.1a25e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
