lorenzattractor/simulatorflow.json
[{"id":"829a571.43831a8","type":"inject","z":"92f63ac.5b29ac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.01","crontab":"","once":false,"x":200,"y":120.75,"wires":[["398313a2.93663c"]]},{"id":"398313a2.93663c","type":"function","z":"92f63ac.5b29ac8","name":"","func":"var h = context.global.get('h')||0.008;\nvar a = context.global.get('a')||10;\nvar b = context.global.get('b')||28;\nvar c = context.global.get('c')||8/3;\nvar x = context.global.get('x')||2;\nvar y = context.global.get('y')||3;\nvar z = context.global.get('z')||4;\n\n\nx+=h*a*(y-x)\ny+=h*(x*(b-z)-y)\nz+=h*(x*y-c*z)\n\n\ncontext.global.set(\"x\",x);\ncontext.global.set(\"y\",y);\ncontext.global.set(\"z\",z);\nmsg.payload={};\nmsg.payload.x=x;\nmsg.payload.y=y;\nmsg.payload.z=z;\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":127.25,"wires":[["e8d18ec3.d3208","f33b121d.6cf5f8"]]},{"id":"e8d18ec3.d3208","type":"debug","z":"92f63ac.5b29ac8","name":"","active":false,"console":"false","complete":"false","x":566,"y":116,"wires":[]},{"id":"9e009af0.dceea","type":"ibmiot out","z":"92f63ac.5b29ac8","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"osc","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"registered","x":771,"y":236,"wires":[]},{"id":"12c87a2e.683526","type":"ibmiot in","z":"92f63ac.5b29ac8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":506,"y":314.75,"wires":[["cc7d1b37.984958"]]},{"id":"cc7d1b37.984958","type":"debug","z":"92f63ac.5b29ac8","name":"","active":true,"console":"false","complete":"false","x":653,"y":352,"wires":[]},{"id":"bb11d282.502f9","type":"inject","z":"92f63ac.5b29ac8","name":"healthy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":194.75,"wires":[["a237c9eb.5e227"]]},{"id":"49a90c6b.9c456c","type":"inject","z":"92f63ac.5b29ac8","name":"broken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142,"y":251.75,"wires":[["90007375.1345"]]},{"id":"a237c9eb.5e227","type":"function","z":"92f63ac.5b29ac8","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',10);\ncontext.global.set('b',28);\ncontext.global.set('c',8/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":192.25,"wires":[["d199e025.05a56"]]},{"id":"90007375.1345","type":"function","z":"92f63ac.5b29ac8","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',30);\ncontext.global.set('b',128);\ncontext.global.set('c',28/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":232,"y":306.25,"wires":[["d199e025.05a56"]]},{"id":"f33b121d.6cf5f8","type":"function","z":"92f63ac.5b29ac8","name":"limit to max 3000 ","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count <= 3000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":631,"y":186.75,"wires":[["9e009af0.dceea"]]},{"id":"9f292ce3.075de","type":"function","z":"92f63ac.5b29ac8","name":"","func":"context.global.set('count',0);\nmsg.payload=context.global.get('count');\nreturn msg;","outputs":1,"noerr":0,"x":229,"y":582.75,"wires":[["d199e025.05a56"]]},{"id":"9e64f414.810c98","type":"inject","z":"92f63ac.5b29ac8","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":468.25,"wires":[["9f292ce3.075de"]]},{"id":"d199e025.05a56","type":"debug","z":"92f63ac.5b29ac8","name":"","active":true,"console":"false","complete":"false","x":378.5,"y":574.25,"wires":[]}]
