iotGame.nodered
[{"id":"d41bd44e.35da88","type":"dashDB out","z":"a1136b82.4791f8","service":"dashDB-qi","table":"TEMPERATURE","name":"","x":475,"y":551,"wires":[]},{"id":"22a17994.ef404e","type":"ibmiot in","z":"a1136b82.4791f8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"5ba3b29df6c6","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":132,"y":403,"wires":[["e4b16674.b3537"]]},{"id":"d6c05eda.78c15","type":"debug","z":"a1136b82.4791f8","name":"","active":true,"console":"false","complete":"false","x":451,"y":400.5,"wires":[]},{"id":"e4b16674.b3537","type":"function","z":"a1136b82.4791f8","name":"","func":"msg.payload =\n{\n   TIMESTAMP : 'TIMESTAMP',\n   TEMPERATURE : msg.payload.d.temp,\n   NAME : msg.payload.d.name\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":456,"wires":[["d6c05eda.78c15","d41bd44e.35da88"]]},{"id":"aa0293d1.672ef8","type":"ibmiot in","z":"a1136b82.4791f8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"c91bcbf98827","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":133,"y":493,"wires":[["e4b16674.b3537"]]},{"id":"33d5951b.db1dc2","type":"ibmiot in","z":"a1136b82.4791f8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"a67cae64c772","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":130,"y":576,"wires":[["e4b16674.b3537"]]},{"id":"a5ab5124.bdddb","type":"ibmiot in","z":"a1136b82.4791f8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"19defdb2d65a","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":125.5,"y":649.5,"wires":[["e4b16674.b3537"]]},{"id":"affd2f2f.5b9d5","type":"ibmiot in","z":"a1136b82.4791f8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"2b1f69c84c25","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":126.5,"y":319.5,"wires":[["e4b16674.b3537"]]}]
