sensor.flow
[{"id":"d41bd44e.35da88","type":"dashDB out","z":"a1136b82.4791f8","service":"dashDB-qi","table":"TEMPERATURE","name":"","x":475,"y":551,"wires":[]},{"id":"22a17994.ef404e","type":"ibmiot in","z":"a1136b82.4791f8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"25c1ff4eb0f7","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":132,"y":403,"wires":[["e4b16674.b3537"]]},{"id":"d6c05eda.78c15","type":"debug","z":"a1136b82.4791f8","name":"","active":true,"console":"false","complete":"false","x":451,"y":400.5,"wires":[]},{"id":"e4b16674.b3537","type":"function","z":"a1136b82.4791f8","name":"","func":"msg.payload =\n{\n   TIMESTAMP : 'TIMESTAMP',\n   TEMPERATURE : msg.payload.d.temp,\n   NAME : msg.payload.d.name\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":456,"wires":[["d6c05eda.78c15","d41bd44e.35da88"]]},{"id":"aa0293d1.672ef8","type":"ibmiot in","z":"a1136b82.4791f8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"d7b36ebf1687","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":133,"y":493,"wires":[["e4b16674.b3537"]]},{"id":"33d5951b.db1dc2","type":"ibmiot in","z":"a1136b82.4791f8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"be8585601420","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":130,"y":576,"wires":[["e4b16674.b3537"]]},{"id":"b49d1424.15a488","type":"dashDB in","z":"a1136b82.4791f8","service":"dashDB-qi","query":"select * from alert","params":"","name":"","x":288.5,"y":159.5,"wires":[["ea3bc6de.1d9df8"]]},{"id":"ea3bc6de.1d9df8","type":"http response","z":"a1136b82.4791f8","name":"","x":463.5,"y":166,"wires":[]},{"id":"38c57996.f7b026","type":"http in","z":"a1136b82.4791f8","name":"","url":"/getOutlier","method":"get","swaggerDoc":"","x":86.5,"y":149.5,"wires":[["b49d1424.15a488"]]}]
