coursera/a0_m2_flow2.json
[{"id":"612d5a14.33f164","type":"ibmiot in","z":"d49aa97f.f3a0b8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":146,"y":200,"wires":[["6b8f0a2d.f83b24"]]},{"id":"cf878406.d61678","type":"cloudant out","z":"d49aa97f.f3a0b8","name":"","cloudant":"","database":"washing","service":"deletemerkie-cloudantNoSQLDB","payonly":true,"operation":"insert","x":653,"y":330,"wires":[]},{"id":"41aa0bdf.18bce4","type":"debug","z":"d49aa97f.f3a0b8","name":"","active":true,"console":"false","complete":"payload","x":739,"y":194.25,"wires":[]},{"id":"6b8f0a2d.f83b24","type":"function","z":"d49aa97f.f3a0b8","name":"flatten schema","func":"msg.payload = msg.payload.d;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200.5,"wires":[["59bc9e51.2f36a","41aa0bdf.18bce4"]]},{"id":"59bc9e51.2f36a","type":"function","z":"d49aa97f.f3a0b8","name":"limit to max 5000 entries","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count < 5000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":305,"y":314,"wires":[[]]}]
