coursera/a0_m2_flow2.json
[{"id":"96b65187.e19c1","type":"ibmiot in","z":"765701a9.5f937","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":229,"y":185,"wires":[["3749281.fa82e58"]]},{"id":"7bd3fa70.bc3f94","type":"cloudant out","z":"765701a9.5f937","name":"","cloudant":"","database":"washing","service":"deletemerkie-cloudantNoSQLDB","payonly":true,"operation":"insert","x":532,"y":279,"wires":[]},{"id":"28112c90.078d8c","type":"debug","z":"765701a9.5f937","name":"","active":true,"console":"false","complete":"payload","x":506,"y":189.25,"wires":[]},{"id":"3749281.fa82e58","type":"function","z":"765701a9.5f937","name":"","func":"msg.payload = msg.payload.d;\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":292.5,"wires":[["28112c90.078d8c"]]}]
