smartbrake/raspberryflow.json
[{"id":"6fdc2d2d.dc1c6c","type":"wiotp in","z":"22cc0336.5b4204","authType":"d","deviceKey":"47a7ff08.952558","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"","x":177,"y":132,"wires":[["a26b45e9.32b68","8b517e66.c6321"]]},{"id":"a26b45e9.32b68","type":"debug","z":"22cc0336.5b4204","name":"","active":true,"console":"false","complete":"true","x":477,"y":107.25,"wires":[]},{"id":"8b517e66.c6321","type":"function","z":"22cc0336.5b4204","name":"","func":"if (msg.payload.faces>0) {\n    msg.payload=1;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":175.5,"wires":[["c6547075.f83c3","4b9a1156.7cf96"]]},{"id":"4b9a1156.7cf96","type":"rpi-gpio out","z":"22cc0336.5b4204","name":"","pin":"11","set":true,"level":"0","out":"out","x":663,"y":359.75,"wires":[]},{"id":"35b8686.f4e3098","type":"inject","z":"22cc0336.5b4204","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":436,"y":344,"wires":[["4b9a1156.7cf96"]]},{"id":"4a0b31d.959fcd","type":"inject","z":"22cc0336.5b4204","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":503.5,"y":470.75,"wires":[["4b9a1156.7cf96"]]},{"id":"c6547075.f83c3","type":"delay","z":"22cc0336.5b4204","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":357.5,"y":244.75,"wires":[["30040160.717d4e"]]},{"id":"30040160.717d4e","type":"function","z":"22cc0336.5b4204","name":"","func":"msg.payload=0\nreturn msg;","outputs":1,"noerr":0,"x":431.5,"y":303.75,"wires":[["4b9a1156.7cf96"]]},{"id":"47a7ff08.952558","type":"wiotp-credentials","z":"","name":"","org":"pcoyha","devType":"rp","devId":"rp"}]
