smartbrake/webcamflow.json
[{"id":"a9095aeb.e5ef38","type":"ftp in","z":"f98127f7.5370d8","ftp":"cdfc6612.e97828","operation":"put","filename":"./public_html/snapshot.jpg","localFilename":"/Users/romeokienzler/Downloads/imagesnap/snapshot.jpg","name":"","x":430.5,"y":225.25,"wires":[["7446af07.6bdc"]]},{"id":"b13b6385.0a757","type":"inject","z":"f98127f7.5370d8","name":"","topic":"","payload":"http://romeokienzler.com/snapshot.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":245.5,"y":205.25,"wires":[["a9095aeb.e5ef38","1c152b9b.cc0e34"]]},{"id":"6f269c08.1f29dc","type":"visual-recognition-v3","z":"f98127f7.5370d8","name":"","apikey":"__PWRD__","image-feature":"detectFaces","lang":"en","x":417.5,"y":344,"wires":[["6d80ebcf.425714","7446af07.6bdc"]]},{"id":"1c152b9b.cc0e34","type":"delay","z":"f98127f7.5370d8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":227.5,"y":334.75,"wires":[["6f269c08.1f29dc"]]},{"id":"6d80ebcf.425714","type":"function","z":"f98127f7.5370d8","name":"","func":"msg.payload = {\"faces\": msg.result.images[0].faces.length}\nreturn msg;","outputs":1,"noerr":0,"x":619.5,"y":348.75,"wires":[["be7542ec.e2f7e8","7446af07.6bdc"]]},{"id":"be7542ec.e2f7e8","type":"ibmiot out","z":"f98127f7.5370d8","authentication":"apiKey","apiKey":"3a6c4aa5.d86ad6","outputType":"cmd","deviceId":"rp","deviceType":"rp","eventCommandType":"alert","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"registered","x":723.5,"y":422.5,"wires":[]},{"id":"bae09670.3ad638","type":"ibmiot in","z":"f98127f7.5370d8","authentication":"apiKey","apiKey":"3a6c4aa5.d86ad6","inputType":"evt","deviceId":"mobiliar17","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":513.5,"y":531.25,"wires":[["7446af07.6bdc"]]},{"id":"7446af07.6bdc","type":"debug","z":"f98127f7.5370d8","name":"","active":true,"console":"false","complete":"true","x":615.5,"y":261.5,"wires":[]},{"id":"cdfc6612.e97828","type":"ftp","z":"","host":"www.romeokienzler.com","port":"","secureOptions":"","user":"romeok","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"3a6c4aa5.d86ad6","type":"ibmiot","z":"f98127f7.5370d8","name":"pcoyha","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false}]
