CognitiveIoT/flow2.json
[{"id":"e2e1689e.3bee98","type":"ibmiot in","z":"4c7b1b74.24681c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":141,"y":184.75,"wires":[["e4872322.3f6f6"]]},{"id":"dab3111.2fc617","type":"cloudant out","z":"4c7b1b74.24681c","name":"","cloudant":"","database":"washing","service":"1234thisIsMyName-cloudantNoSQLDB","payonly":true,"operation":"insert","x":648,"y":314.75,"wires":[]},{"id":"7a9412cc.d0a934","type":"debug","z":"4c7b1b74.24681c","name":"","active":false,"console":"false","complete":"payload","x":734,"y":179,"wires":[]},{"id":"e4872322.3f6f6","type":"function","z":"4c7b1b74.24681c","name":"flatten schema","func":"msg.payload = msg.payload.d;\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":213.25,"wires":[["cc10dfbc.eadfb8"]]},{"id":"cc10dfbc.eadfb8","type":"function","z":"4c7b1b74.24681c","name":"limit to max 5000 entries","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count < 5000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":300,"y":298.75,"wires":[["7a9412cc.d0a934","dab3111.2fc617"]]}]
